<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <title>IkehAkinyemi</title>
</head>
<body>
<div class="container">
<!--Head-->
    <header>
        <div class="search">
            <h1 class="lead">Home</h1>
            <form>
            <input type="text" name="search" placeholder="Search Blog...">
            <input type="submit" value="search" class="btn">
            </form>
            </div>
        <div class="navbar">
            <nav>
                <ul class="nav-list">
                    <li><a href="posts.html">Posts</a></li>
                    <li class="current-page"><a href="home.html">Home</a></li>
                    <li><a href="https://github.com/IkehAkinyemi">Github</a></li>
                    <span role="button" aria-label="Toggle Dark Mode" class="nx-cursor-pointer nx-p-2 nx-text-current" tabindex="0"><svg fill="none" viewBox="2 2 20 20" width="12" height="12" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="currentColor" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg></span>
                </ul>
            </nav>
        </div>
    </header>

<!--Main-->
<section>
    <h2>Hello! I'm Ikeh Akinyemi a Software Engineer.</h2>
    <h3>Welcome to my blog</h3>
    <article>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ullam modi est velit nam repellat facere debitis atque, dolorum quia, excepturi dolore natus officia saepe veniam sequi, qui corrupti alias.</p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magnam temporibus vitae nobis sequi in molestias eius praesentium fugiat recusandae, ducimus quisquam cupiditate laudantium quae, laborum inventore dolorem aliquam quasi ea possimus. Blanditiis expedita tempora ad illo numquam quod voluptate necessitatibus cum, nam, magni provident vel dignissimos?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam eos repellat quasi blanditiis rerum quisquam.
        </p>
        <p>Thank you for Reading!</p>
        <p>Ikeh Akinyemi</p>
    </article>
</section>

<!--Footer-->
<footer>
    <p>&copy; By Ikeh Akinyemi --<a href="https://twitter.com/IkehAkinyemi">@IkehAkinyemi</a></p>
    <p class="socials">
        <a href="#"><i class="fab fa-github fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </p>
</footer>
</div>
</body>
</html>