<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="utilities.css">
    <title>IkehAkinyemi</title>
</head>
<body>
<!--Head-->
    <header>
        <div class="search">
        <h1 class="lead">Posts</h1>
        <form>
            <input type="text" name="search" placeholder="Search Blog...">
            <input type="submit" value="search" class="btn">
            </form>
        </div>
        <div class="navbar">
            <nav>
                <ul class="nav-list">
                    <li class="current-page"><a href="posts.html">Posts</a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="https://github.com/IkehAkinyemi">Github</a></li>
                    <span role="button" aria-label="Toggle Dark Mode" class="nx-cursor-pointer nx-p-2 nx-text-current" tabindex="0"><svg fill="none" viewBox="2 2 20 20" width="12" height="12" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="currentColor" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg></span>
                </ul> 
            </nav>
        </div>
    </header>

<!--Main-->
<section>
    <div class="posts">
        <p>Read our latest blog posts</p>
        <div class="post-items">
            <h3>A Complete Guide to Understand Colos</h3>
            <p class="post-cont">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusamus voluptatem doloremque temporibus placeat hic quibusdam nostrum distinctio sit nemo. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>Don't Banye Nwaa! A Comprehensive Manual</h3>
            <p class="post-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, hic. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>Oshigbuola Otu Onye Live!</h3>
            <p class="post-cont">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, expedita alias iste odio numquam repudiandae incidunt illum ullam! Repellat assumenda unde iusto dolorum earum laboriosam corporis in praesentium eveniet atque. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>Soliloquy Of A Man Below The SAPA Index</h3>
            <p class="post-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus similique laudantium voluptas velit quasi accusamus, possimus sapiente. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>On Colos! On Colos! On Colos!</h3>
            <p class="post-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, hic. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>Mkpuru Anya Man Arashiela!</h3>
            <p class="post-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, hic. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
        <div class="post-items">
            <h3>Palareroglam of A Glain of Lice</h3>
            <p class="post-cont">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, hic. <a href="#">Read more...</a>
            </p>
            <p class="dates"><i class="fa fa-calendar-days"></i> Wed, May 31 2023. <i class="fa fa-message"></i></p>
        </div>
    </div>
</section>

<!--Footer-->
<footer>
    <p>&copy; By Ikeh Akinyemi --<a href="https://twitter.com/IkehAkinyemi">@IkehAkinyemi</a></p>
    <p class="socials">
        <a href="#"><i class="fab fa-github fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </p>
</footer>
    
</body>
</html>