{{ template "base" . }} {{ define "section" }}Post{{ end }} {{ define "main" }}
<section>
  <h1 id="post-title">{{ .Article.Title }}</h1>
  <div class="beneath-title">
    <div class="beneath-title_first-child">
      <span>{{ .Article.Author }}</span>
      <span>•</span>
      <time datetime="2022-12-08T08:35:28.178Z">{{ .Article.CreatedAt | friendlyDataFormat }}</time>
    </div>
    <div class="beneath-title_second-child">
      <a href="/posts">&lt;---</a
      >
    </div>
  </div>
  <div>
    <bold>Tags: </bold>
    {{ range .Article.Tags }}
    <span>
      <a class="" href="/tags/{{.}}">{{ . }}</a>
    </span>
    {{ end }}
  </div>
  
  <article>
    {{ .Article.Content }}
  </article>
</section>
{{ end }}
